<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_160421029_Nico_Victorio.dbSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <_160421029_Nico_Victorio.dbSetting>
            <setting name="hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>uas_database</value>
            </setting>
            <setting name="uid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </_160421029_Nico_Victorio.dbSetting>
    </userSettings>
</configuration>